<div class="row" ng-controller="EditController">
     <div class="col-md-5">
         <form ng-show="isEditable()">
             <div class="form-group">
                 <label for="Title">Title</label>
                 <input name="Title" type="text" class="form-control" placeholder="Enter title" ng-model="edit.comment.Title">
             </div>
             <div class="form-group">
                 <label for="Description">Description</label>
                 <input name="Description" type="text" class="form-control" placeholder="Description" ng-model="edit.comment.Description">
             </div>

             
             <button class="btn btn-primary" ng-click="save()">Post</button>
             <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
         </form>
     </div>
 </div>